---
layout: base.njk
permalink: /notfound.html
---
<body>
<div class="body404">
<h1 style="size:100px;">404</h1>
<p>Uh oh, that page must have been moved or deleted. Would you like to go back <a href="/">home?</a></p>
</div>