---
layout: base.njk
---
<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1 id="hello">hey, i'm david</h1>
  <h3 id="about">about</h3>
  <p id="whatiam">I'm just your average JAMstack developer who normally uses 11ty.</p>
  
 <h3 id="contact">contact</h3>
  <ul>
    <li>GitHub: aboutDavid</li>
    <li>Twitter: @UpscaleDavid</li>
    <li>Freenode: aboutDavid</li>
    <li>Keybase: aboutdavid</li>
    <li>Email: aboutdavid at protonmail dot com</li>
    <li>PGP: <a href="https://git.io/JqThW">91E6 BCC6 5D21 E893</a></li>
  </ul>
  <h3 id="whatimlisteningto">what i'm listening to</h3>
  <p id="song"><noscript>can't do any<noscript> loading <noscript>when javascript is turned off...<noscript></p>
  <h3 id="projects">projects</h3>
  <div class="grid-container">
    {% for project in projects %}
     <div class="grid-item">
     <a href="{{ project.url }}" onclick="clickedOnProject()">{{ project.name }}</a><br />{{ project.description }}
   </div>
   {% endfor %}

  </div>
<h3 id="blog">blog</h3>
<div class="grid-container">
  {% for post in posts %}

   <div class="grid-item">
   <a href="/post/{{ post.slug }}" onclick="clickedOnPost()">{{ post.title }}</a><br /><span id="blogdate">Written on</span> {{
   post.date }} &bull; {{ post.readTime }}
 </div>

 {% endfor %}

</div>
<footer>
  <script>
    fetch("https://davidmusic.glitch.me/").then(function(response) {
      return response.json();
    }).then(function(json) {
      document.getElementById("song").innerHTML = json.song;
    }).catch(function(err) {
      document.getElementById("song").innerHTML = `<span id="songerr">Couldn't load the song...</span>`;
    });
  </script>
</footer>
</body>
</html>
