---
layout: base.njk
---
<body>
  <h1><img src="https://f004.backblazeb2.com/file/aboutdavid/IMG_9339+(2).webp" alt="me" class="face u-photo">&nbsp;<span class="p-name">aboutdavid</span><span class="modeswitch" id="modeswitch" onclick="onSwitch()">🌗</span></h1>
  <a href="https://aboutdavid.me/" class="h-card" rel="me" style="display:none;">aboutdavid</a>
  <h2>about</h2>
  <p class="p-note">Hello, I’m David. I’m a high-schooler who likes tennis, food, and coding. A lot of my code is open-source which is usually located on <a href="https://github.com" target="_blank">GitHub</a>.</p>
  <h2>now</h2>
  <p>I'm not working on anything in particular.</p>
 <h2>contact</h2>
  <ul>
    <li>GitHub: aboutDavid</li>
    <li>Mastodon: @david@social.dino.icu </li>
    <li>libera.chat: aboutdavid</li>
    <li>Email: <span id="email">aboutdavid [at] protonmail [dot] com</span></li>
  </ul>
  <h2>latest commit</h2>
  <p><a href="https://github.com/{{ commit.repo }}" target="_blank">{{ commit.repo }}</a> @ {{ commit.time }} (EST):</p>
<p>{{ commit.message }}</p>
<a href="{{ commit.url }}" target="_blank">view this commit</a>
  <h2>projects</h2>
<ul>
   {% for project in projects %}
    <li><a href="{{ project.url }}" target="_blank">{{ project.name }}</a> &mdash; {{ project.description }} &bull; {{ project.stargazers }} stargazers &bull; {% if project.primaryLanguage %}{{ project.primaryLanguage.name }}{% else %}Unknown Language{% endif%}</li><br>
   {% endfor %}
</ul>

</div>