---
permalink: feed.json
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "aboutdavid's blog",
  "language": "en-US",
  "home_page_url": "https://aboutdavid.me",
  "feed_url": "https://aboutdavid.me",
  "description": "Hello, I’m David. I’m a high-schooler who likes tennis, food, and coding, and this is my blog!",
  "author": {
    "name": "aboutdavid",
    "url": "https://aboutdavid.me"
  },
  "items": [

    {%- for post in posts %}
    {
      "id": "{{ post.slug }}",
      "url": "https://aboutdavid.me/post/{{ post.slug }}",
      "description": "{{ post.description }}",
      "title": "{{ post.title }}",
      "content_html": "{{ post.html | replace("\n", "\\n") | replace("\"", "&quot;") | replace("</html>", "") | safe }}",
      "date_published": "{{ post.date }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}