---
layout: base.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: post/{{ post.slug }}/
---
<style>
  body {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}

  </style>
<h3>
 <a href="/">
  aboutdavid
</a> 
</h3>
<article class="h-entry">
<h1 class="title p-name">{{ post.title }}</h1>
<a class="p-author h-card" href="https://aboutdavid.me" style="display:none;">David</a>
<time class="dt-published" datetime="{{ post.date }}" style="display:none;">{{ post.date }}</time>
<p class="p-summary" style="display:none;">{{ post.description }}</p>
<small>Written on {{ post.date }} &bull; 🍿 {{ post.readTime }} </small>
<img class="u-photo" src="https://f004.backblazeb2.com/file/aboutdavid/IMG_9339+(2).webp" style="display:none;" />
<a class="u-url" href="https://aboutdavid.me/post/{{ post.slug }}/" style="display:none;"></a>


<div class="e-content">
{{ post.html | safe }}
</div>
</article>
<p>
  You can see the main site <a href="/">here</a>.
</p>
<script src="https://utteranc.es/client.js"
        repo="aboutdavid/blog-comments"
        issue-term="pathname"
        label="aboutdavid/blog-comments"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
<noscript>If you would like to see comments, you must enable JavaScript :)</noscript>