---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
	<title>aboutdavid's blog</title>
	<subtitle>the blog of aboutdavid</subtitle>
	<link href="https://aboutdavid.me" rel="self"/>
	<link href="https://aboutdavid.me"/>
	<updated>{{ posts[0].date }}</updated>
	<id>aboutdavid</id>
	<author>
		<name>aboutdavid</name>
		<email>aboutdavid@protonmail.com</email>
	</author>
	{%- for post in posts %}
	<entry>
		<title>{{ post.title }}</title>
		<link href="https://aboutdavid.me/post/{{ post.slug }}"/>
		<updated>{{ post.date }}</updated>
		<id>{{ post.slug }}</id>
		<content type="html">{{ post.html | replace("\n", "") | replace("</html>", "") | replace("</body>", "") | safe }}</content>
	</entry>
	{%- endfor %}
</feed>