---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
<loc>https://aboutdavid.me</loc>
<changefreq>hourly</changefreq>
</url>
{%- for post in posts %}
<url>
<loc>https://aboutdavid.me/post/{{ post.slug }}</loc>
<changefreq>hourly</changefreq>
</url>
{%- endfor %}
</urlset>