html {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2d3748;
  background: #fdfcfc;
  word-wrap: break-word;
}
body {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}
.frontpage {
  padding-top: 15%;
}
img,
video {
  max-width: 100%;
  height: auto;
}
code {
  word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1d1f21;
    color: #e0e0e0;
  }
  a,
  a:visited,
  a:hover {
    color: #ff6e6c;
  }
}
.grid-item {
  padding: 20px;
  text-align: center;
}
/* default */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* laptops */
@media screen and (min-device-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  /* phones */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}
