:root {
  --light-bg-color: #dce0e8;
  --light-text-color: #4c4f69;
  --light-anchor-color: #dc8a78;
  --dark-bg-color: #232634;
  --dark-text-color: #c6d0f5;
  --dark-anchor-color: #eebebe;
  --border-color: #5f6267;
  --title-size: 48px;
  --border-width: 1px;
}

html {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2d3748;
  background: #fdfcfc;
  word-wrap: break-word;
  font-weight: 400;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}
body {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}
.frontpage {
  padding-top: 15%;
}
img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: contain;
}
code {
  word-wrap: break-word;
}
a,
a:visited,
a:hover {
  color: var(--light-anchor-color);
  text-decoration: underline wavy;
  text-underline-position: under;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
  }  
  a,
  a:visited,
  a:hover {
    color: var(--dark-anchor-color);
  }
}
.title {
  font-size: var(--title-size);
  font-weight: bold;
  margin: 0px 0px 1rem 0px;
}
.face {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
footer {
  border-top: var(--border-width) solid var(--border-color);
  padding-top: 1rem;
}
.modeswitch {
  float: right;
  cursor: pointer;
}

[data-theme="dark"] {
  --light-bg-color: #232634;
  --light-text-color: #c6d0f5;
  --light-anchor-color: #eebebe;
  --dark-bg-color: #232634;
  --dark-text-color: #c6d0f5;
  --dark-anchor-color: #eebebe;
}
[data-theme="light"] {
  --light-bg-color: #dce0e8;
  --light-text-color: #4c4f69;
  --light-anchor-color: #dc8a78;
  --dark-bg-color: #dce0e8;
  --dark-text-color: #4c4f69;
  --dark-anchor-color: #dc8a78;
}
.body404 {
    padding-right: 3.5vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding: 2.625rem 1.3125rem;
    padding-top: 0;
    padding-top: 15%;
}