<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <a rel="me" href="https://social.dino.icu/@david" style="display:none;">Mastodon</a>

    <meta
      name="title"
      content="{% if post.title %}{{ post.title }} - {% endif %}aboutdavid"
    />
    <meta
      name="description"
      content="{% if post.description %}{{ post.description }}{% else %}the website of david, oh wait that's me{% endif %}"
    />

    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://aboutdavid.me/{% if post.slug %}{{ post.slug }}{% endif %}"
    />
    <meta
      property="og:title"
      content="{% if post.title %}{{ post.title }} - {% endif %}aboutdavid"
    />
    <meta
      property="og:description"
      content="{% if post.description %}{{ post.description }}{% else %}the website of david, oh wait that's me{% endif %}"
    />
    <meta property="og:image" content="" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://aboutdavid.me/{% if post.slug %}{{ post.slug }}{% endif %}"
    />
    <meta
      property="twitter:title"
      content="{% if post.title %}{{ post.title }} - {% endif %}aboutdavid"
    />
    <meta
      property="twitter:description"
      content="{% if post.description %}{{ post.description }}{% else %}the website of david, oh wait that's me{% endif %}"
    />
    <meta property="twitter:image" content="" />
    <title>aboutdavid</title>
    <link inline rel="stylesheet" href="/style.css" />
    <link href="feed.xml" type="application/atom+xml" rel="alternate" title="aboutdavid's blog" />
<script async src="https://ackee.aboutdavid.me/tracker.js" data-ackee-server="https://ackee.aboutdavid.me" data-ackee-domain-id="ed2d6c15-7aca-42fc-8f8f-6c0a49fed42e"></script>  </head>
  <body>
    {{ content | safe }}
  </body>
  <footer>
    <script inline src="/utils.js"></script>
  &copy; 2019-2022 aboutdavid.me. All Rights Reserved.<br>
  Running build <abbr title="{{ git.full }}"><a href="https://github.com/aboutdavid/website/commit/{{ git.full }}" target="_blank" style="text-decoration:none;">{{ git.short }}</a></abbr> on {{ git.date }}. Branch: {% if env.BRANCH %}{{ env.BRANCH }}{% else %}unknown{% endif%}<br>
  You can subscribe to my <a href="/feed.xml">RSS/Atom feed</a> or my <a href="/feed.json">JSON feed</a><br>
  This website is <a href="https://github.com/aboutdavid/website" target="_blank">open-source</a>.
  <a href="https://www.abuseipdb.com/user/49168" style="display: none;" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
	<img src="https://www.abuseipdb.com/contributor/49168.svg" alt="AbuseIPDB Contributor Badge" style="width: 0px; display: none;">
</a>
</footer>
</html>
